*{
    margin:0;
    padding: 0;
}
.er{
    background-color: rgb(0, 0, 0);
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 4rem);
}
.buttomEl{
    color: rgb(41, 114, 240);
    padding-top: 50px;
    text-decoration: none;
    font-size: 20px;
    justify-content: center ;
}
.mar{
    width: 300px;
    height: 300px;
}
.spann{
    color:#A0A0A0;
    font-size: 8px;
    padding: 10px;
    
}
.head{
 color:#fff;
 font-size: 70px;
}
.regist{
    color:#fff;
    font-size:25;
    margin-bottom: 5px;
}
.item{
  
  margin-left: 200px;
  flex-grow: 2;
}

.container{
    display: flex;
}